.kaufman__triangle {
  background-image: url("../../../images/triangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
}
