* {
  margin: 0;
  padding: 0;
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  position: relative;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.header__title {
  z-index: 2;
  align-self: center;
  justify-content: center;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}


.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo_place_header {
  position: absolute;
  margin: 30px auto auto 64px;
}


.description {
  position: relative;
  align-self: center;
  margin: auto;
  flex-direction: row;
  padding-top: 100px;
  overflow: hidden;
}

.two-columns {
  display: flex;
  margin: auto;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__main-text {
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph {
  flex-wrap: nowrap;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px auto;
}

.two-columns__paragraph:last-of-type {
  margin: 0 0 0 auto;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}


.digits {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  flex-wrap: nowrap;
}

.section-subtitle {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0 0;
  align-items: center;
  justify-content: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 1100px;
  margin: 0 auto auto auto;
  flex-direction: row;
  list-style: none;
}

.table__heading {
  display: flex;
  justify-content: space-between;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.table__cell {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: start;
  box-sizing: border-box;
  width: 250px;
  margin: 60px auto 0;
}

.table__text {
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  box-sizing: border-box;
  height: 890px;
  border: 1px solid #f2f2f2;
  background-image: url(../images/feinman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  overflow: hidden;
}

.feynman__title {
  width: 60%;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 20px auto auto auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  width: 60%;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url("../images/triangle.svg");
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  z-index: 2;
  margin: 0 auto 20px auto;
  text-align: center;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.section-subtitle_theme_dark {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto auto auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.table_theme_dark {
  margin: 0 auto auto auto;
}

.table__heading_theme_dark {
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 auto auto;
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #1f1f1f;
  min-height: 350px;
  overflow: hidden;
}

.footer__column {

}

.footer__columns {
  min-width: 90%;
  display: flex;
  align-content: flex-end;
  box-sizing: content-box;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px auto;
  flex-basis: 711px;
}


.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  justify-content: center;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  justify-content: space-between;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  align-content: flex-start;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50%;
  text-align: left;
}

.footer__column_content_social {
  text-align: start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  display: flex;
  margin: 0 10px 0 0;
  align-items: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  display: flex;
  justify-items: flex-end;
  align-content: flex-end;
  margin: 0;
}

.footer__text {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  margin: 0;
}
