.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.header__logo {
  width: 183px;
  height: 32px;
}

.header__title {
  z-index: 2;
  align-self: center;
  justify-content: center;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}



.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__link {
  color: #2f80ed;
}

.logo_place_header {
  position: absolute;
  margin: 30px auto auto 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.description {
  position: relative;
  align-self: center;
  margin: auto;
  flex-direction: row;
}

.two-columns {
  display: flex;
  margin: 100px auto 100px auto;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%
}

.two-columns__main-text {
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph {
  flex-wrap: nowrap;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: auto;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.digits {
  position: relative;
}

.digits-title {
  display: flex;
  margin: 100px auto 20px auto;
  align-items: center;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.digits-subtitle {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto auto auto;
  align-items: center;
  justify-content: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 1100px;
  margin: 0 auto 100px auto;
  flex-direction: row;
  list-style: none;
}

.table__heading {
  display: flex;
  justify-content: space-between;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.table__cell {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  text-align: start;
  box-sizing: border-box;
  width: 250px;
  margin: 60px auto 60px auto;
}

.table__text {
  text-align: justify;
  line-height: 1.2px;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  box-sizing: border-box;
  height: 890px;
  border: 1px solid #f2f2f2;
  background-image: url(../images/feinman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin: 100px auto auto auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 70px auto auto auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

