.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  height: fit-content;
  transition: opacity .4s;
}

.khan__buy-link:hover {
  opacity: .7;
}
